.section {
  position: relative;
}

.section::before {
  content: "";
  border-top: 3px solid red;
  margin-top: -1px;
  display: block;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
}