.header {
  font-family: var(--font-display-slab);
  font-weight: 400;
  font-size: 56px;
  line-height: 0.96;
}

.title {
  font-family: var(--font-display-slab);
  font-weight: 400;
  font-size: 56px;
  line-height: 0.96;
  text-transform: uppercase;
  position: relative;
  text-wrap: pretty;
  margin-bottom: 0.5em;
}

.number {
  font-family: var(--font-display-slab);
  font-weight: 400;
  font-size: 56px;
  line-height: 0.96;
  position: absolute;
  right: 100%;
  margin-right: 0.2em;
}

@media (max-width: 768px) {
  .title,
  .number {
    font-size: 28px;
  }

  .number {
    position: unset;
    display: block;
  }
}