.split {
  display: flex;
  align-items: end;
  border-bottom: 1px solid #000000;
}

.split > div {
  width: 50%;
}

@media (max-width: 768px) {
  .split {
    flex-direction: column;
  }

  .split > div {
    width: 100%;
  }
}

.default {
  flex: 1 1 50%;
}

.text {
  margin-top: 1rem;
}

.media {
  position: relative;
  display: flex;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}