.split {
  display: flex;
  align-items: end;
  border-bottom: 1px solid #000000;
}

.split.borderless {
  align-items: start;
  border-bottom: none;
}

.split > div {
  width: 50%;
}

.split > div:first-child {
  padding-right: 4rem;
}

@media (max-width: 768px) {
  .split {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .split > div {
    width: 100%;
  }

  .split > div:first-child {
    padding-right: 0;
  }
  .split > div:last-child {
    margin-bottom: 1rem;
  }
}

.media {
  position: relative;
  display: flex;
}

.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}