:root {
  --background: #ffffff;
  --foreground: #000000;

  --font-ui: "Apercu", sans-serif;
  --font-editorial: "BreveText", serif;
  --font-display: "WiredDisplay", sans-serif;
  --font-display-slab: "WiredDisplaySlab", serif;
  --font-mono: "WiredMono", monospace;

  --header-height: 60px;
}

html,
body {
  max-width: 100vw;
  width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-wrap: balance;
  letter-spacing: 0.00568421em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


p {
  font-family: var(--font-editorial);
  text-wrap: pretty;
  font-size: 19px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline;
  transition: color .15s linear;
}

p a:hover {
  color: red;
}

p a {
  text-decoration: underline;
}

.container {
  width: 100%;
  padding: 4rem 6rem;
}

.inner {
  max-width: 1150px;
  margin: 0 auto;
}


