.mediaSection {
  position: relative;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.imageWrapper {
  position: absolute;
  inset: 0;
}

.image {
  object-fit: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.1)
  );
  z-index: 2;
}

.containerMedia {
  z-index: 3;
}

.containerMedia * {
  color: #fff;
}

.mediaSection p {
  max-width: 600px;
  margin: 2em 0;
}