.bigStat {
  text-align: center;
}

.number {
  font-size: 20vw;
  color: #52A747;
  font-family: var(--font-display);
  line-height: 0.8;
}

.description {
  font-family: var(--font-ui);
  font-weight: 700;
  color: red;
  text-transform: uppercase;
  font-size: 22px;
  max-width: 30em;
  margin: 2em auto 0 auto;
}